.products{
    margin-top: 30px;
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.image{
    width: 300;
    height:300px;
}
.product{
   margin-bottom: 50px;
}
.productName{
    font-size: 30px;
    font-weight: bold;
    margin:0%;
}
.price{
    font-size: 20px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom: 10px;
}
.add{
    cursor: pointer;
    width:auto;
    height:30px;
    font-size: 15px;
}

