.navbar{
    background-color: black;
    height:80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.links{
   
    width:120px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;  
}

.links a{
    text-decoration: none;
    color:white;
    font-size: 25px;
}

.heading{
    color:white;
    font-size:30px;
    margin-right:950px;
}

